<!-- <h1>Images</h1> -->
<div>
<div class="row col-md-12 col-sm-6 text-center">
	<%= link_to '<button type="button">New Images</button>'.html_safe, new_image_path %>
</div>

<div class="row col-md-12 col-sm-6">
	<div class="grid row">
	  <% unless @images.blank? %>
		  <% @images.each do |image| %>
		    <div class = "grid-item col-md-3 col-sm-4 col-xs-12">
		      <div class = "pin grid-item-content">
		        <div class = "pin-image">
		          <%= image_tag image.avatar(:medium) %>
		        </div>
		      </div>
		    </div>
		  <% end %>
	  <% end %>
	</div>
	</div>
</div>